@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

button.navbar-toggler {
  border: 0;
  font-weight: 900;
  padding: 0;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

/* Logo */
.logo {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 800;
}

/* Colors */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  color: #272a31;
}

a:hover {
  text-decoration: none;
  color: #e95242;
}

.orange-text {
  color: #ec5242 !important;
}

.bg-orange {
  background-color: #ec5242 !important;
}

.black-text {
  color: #272a31 !important;
}

.bg-black {
  background-color: #272a31 !important;
}

.deem-orange-text {
  color: #d3d3d3 !important;
}

.bg-deem-orange {
  background-color: #d3d3d3 !important;
}

/* Fonts */
.use-cocogoose {
  font-family: 'Cocogoose', sans-serif;
}

.use-lato {
  font-family: 'Lato', sans-serif;
}

h1,
.main-title {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}

/* Header */
.jumbotron {
  background-color: #ec5242;
  background-image: url('../images/jumbo-bg.png');
  background-size: cover;
  height: 80vh;
}

.about .jumbotron {
  min-height: 80vh !important;
  height: unset;
}

.page-title {
  font-size: 56px;
}

.devcamp-featured-image {
  display: none;
}

/* Program */
.main-program {
  background-image: url('../images/black-pattern.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 5vh 0;
}

.program-image {
  width: 100%;
  height: auto;
}

.program-container .icon {
  flex-basis: 20%;
}

.program-container .title {
  flex-basis: 30%;
}

.program-container .title .card-title {
  font-weight: 600;
  color: #e95242 !important;
}

.program-container .description {
  flex-basis: 100%;
}

.program-container .card {
  background-color: #45454596;
}

/* Speakers */
.spearkers-wrapper .speaker-img::before {
  content: "";
  width: 80px;
  height: 80px;
  background: #ec5242;
  margin-left: -18px;
  position: absolute;
  margin-top: -18px;
  z-index: -1;
}

.speaker-item {
  margin-left: 20px;
  padding-top: 30px;
}

.spearkers-wrapper .speaker-img > img {
  box-shadow: 0 0 5px #717171;
  border: 3px solid white;
  width: 95px;
}

/* Partners */
.partners-section {
  background: #272a31;
}

.partner-item {
  row-gap: 1.875rem;
}

/* Other */
/* stylelint-disable */
.about .call-to-action {
  font-size: 106px;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: contain;
  text-align: center;
}

/* stylelint-enable */
.about .cta {
  width: 70%;
}

.prev-event-1 {
  background-image: url('../images/coding-bootcamp-amsterdam.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20px;
}

.prev-event-1 .card-body {
  z-index: 1;
}

.prev-event-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(148 37 25 / 81%);
}

.prev-event-2 {
  background-image: url('../images/coding-bootcamp2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20px;
}

.prev-event-2 .card-body {
  z-index: 1;
}

.prev-event-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(148 37 25 / 81%);
}

.mobile-nav {
  display: flex !important;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  justify-content: center !important;
  align-items: center;
  height: 100vh;
  z-index: 999;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: #e95242eb;
  color: #fff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
}

.mobile-nav .nav-item a,
.mobile-nav .nav-item a.active {
  font-size: 23px;
  color: #fff;
}

.mobile-nav .nav-cta {
  width: 80vw;
  border-color: #fff;
  background-color: #fff;
  color: #e95242;
}

.close-navbar-mobile {
  top: 26px;
  right: 26px;
  font-size: 18px;
}

.m-hide {
  display: none;
}

.section-title-holder::after {
  width: 6.25rem;
  height: 0.1875rem;
  background: #e95242;
  left: 37vw;
  content: "";
  position: absolute;
}

.boot-desc {
  width: 100% !important;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* Header */
  h1,
  .main-title {
    font-size: 32px;
  }

  .page-title {
    font-size: 70px;
  }

  .devcamp-featured-image {
    display: block;
    position: absolute;
    top: 21%;
    right: 10%;
    width: 35%;
  }

  .program-image {
    width: 40%;
    height: auto;
  }

  .program-container .title .card-title {
    font-weight: 600;
    color: #e95242 !important;
  }

  .speaker-item {
    margin-left: 0;
  }

  .spearkers-wrapper .speaker-img > img {
    width: 150px;
  }

  /* stylelint-disable */
  .about .call-to-action {
    font-size: 150px;
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: contain;
  }

  /* stylelint-enable */
  .about .cta {
    width: 40%;
  }

  header .nav-cta {
    border: 5px solid #e95242 !important;
    border-radius: 0;
    color: #e95242;
  }

  header .nav-cta:hover {
    background-color: #e95242;
    color: white;
  }

  .nav-item > a:hover {
    color: #e95242 !important;
  }

  .navbar-nav .nav-link.active {
    color: #e95242 !important;
  }

  .social-icons-nav a.non-social {
    font-size: 12px;
  }

  .m-hide {
    display: block;
  }

  .section-title-holder::after {
    width: 6.25rem;
    height: 0.1875rem;
    background: #e95242;
    left: 47vw;
    content: "";
    position: absolute;
  }

  .boot-desc {
    width: 45% !important;
  }
}
