@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

/* Logo */
.logo {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 800;
}

/* Colors */
.orange-text {
  color: #ec5242;
}

.bg-orange {
  background-color: #ec5242;
}

.black-text {
  color: #272a31;
}

.bg-black {
  background-color: #272a31;
}

.deem-orange-text {
  color: #d3d3d3;
}

.bg-deem-orange {
  background-color: #d3d3d3;
}

/* Fonts */
.use-cocogoose {
  font-family: 'Cocogoose', sans-serif;
}

.use-lato {
  font-family: 'Lato', sans-serif;
}

h1,
.main-title {
  font-family: 'font-family: ''Cocogoose', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}

/* Header */
.jumbotron {
  background-color: #ec5242;
  height: 80vh;
}

.page-title {
  font-size: 70px;
}

.devcamp-featured-image {
  display: none;
}

/* Program */
.main-program {
  background-image: url('../images/black-pattern.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5vh 0;
}


.program-container .icon {
  flex-basis: 20%;
}

.program-container .title {
  flex-basis: 30%;
}

.program-container .description {
  flex-basis: 100%;
}

.program-container .card {
  background-color: #45454596;
}

/* Media Queries */
@media screen and (min-width: 48rem) {

  /* Header */
  h1,
  .main-title {
    font-size: 32px;
  }

  .devcamp-featured-image {
    display: block;
    position: absolute;
    top: 17%;
    right: 10%;
    width: 35%;
  }
}